/*
 *= require_self
 */


 body {
 	font-family: "Proxima Nova";
 	font-weight: 100;
 }

 h1, h2, h3, h4, h5, h6 {
 	font-weight: 100;
  text-align: center;
 }

 .wrapper {
 	width: 80%;
 	margin: 0 auto;
 }

 .clearfix:before, .clearfix:after {
 	content: " ";
 	display: table;
 }

 .clearfix:after {
 	clear: both;
 }

 .button {
   display: inline;
  height: 100%;
  width: 100%;
 	border: 1px solid #9B9B9B;
 	padding: .7rem 1.25rem;
 	border-radius: .3rem;
 	outline: none;
 	background: #691A99;
 	color: white;
  &:hover {
    color: #FFC107;
    border: 1px solid #FFC107;
  }
 }

 body header nav .button:nth-child(3) {
   background: #FFC107;
   &:hover {
     color: #691A99;
     border: 1px solid #691A99;
   }
 }

 header {
 	width: 100%;
 	padding: 2rem 0;
 	border-bottom: 1px solid #E4E4E4;
 	#logo {
 		float: left;
 		font-size: 1.75rem;
 		a {
 			color: #691A99;
 			text-decoration: none;
 			&:hover {
 				color: #FFC107;
 			}
 		}
 	}
 	nav {
 		float: right;
 		a {
 			margin-left: 1.5rem;
 			line-height: 2;
 			color: #9B9B9B;
 			text-decoration: none;
 			&:hover {
 				color: #FFC107;
        border: 1px solid #FFC107;
 			}
 		}
 	}
 }

 input {
   width: 100%;
   padding: 12px 20px;
   margin: 8px 0;
   box-sizing: border-box;
 }

 input[type=text]:focus {
    background-color: lightblue;
}

 textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #691A99;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    width: 100%;
}


 @import 'home.css.scss';
 @import 'posts.css.scss';
